.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}

a:link{
	text-decoration: none;
}

a:hover{
	
}

body{
	background: linear-gradient(180deg, #bbb, #666);
}

img.alignright
{
	float:right;
	margin:0 0 1em 1em;
}
img.alignleft
{
	float:left;
	margin:0 1em 1em 0;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

.container{
	margin: 0 10%;
}

.blog_name{
	margin: 10px 0;
}

.blog_description{
	margin-top: 5px;
}

/* site nav */
.site_nav{
	position: relative;
	float: left;
	margin-top: 5px;
}

.site_nav ul{
	margin: 0;
	padding: 0;
}

.site_nav ul li{
	float: left;
	list-style: none;
	margin-right: 5px;
	font-weight: bold;
	background-color: silver;
	box-shadow: 0 0 1px 0 #000;
}

.site_nav ul li a:link,
.site_nav ul li a:visited{
	display: block;
	text-decoration: none;
	padding: 10px 18px;
	border-radius: 1px;
}

.site_nav ul li a:hover{
	background-color: #ececec;
	text-shadow: -0.3px 0.5px 0.5px #999;
}

.site_nav ul:before{
	content: "";
	display: table;
}

.site_nav ul:after{
	content: "";
	display: table;
	clear: both;
}

.site_search{
	position: relative;
	float: right;
}

.site_nav ul li.current-menu-item a:link,
.site_nav ul li.current-menu-item a:visited,
.site_nav ul li.current-page-ancestor a:link,
.site_nav ul li.current-page-ancestor a:visited{
	background-color: #006ec3;
	color: #fff;
}

/* search */
#searchform{
	margin-top: 5px;
	box-sizing: border-box;
}

#searchform label{
	display: none;
}

#searchform input{
	height: 20px;
	vertical-align: top;
	padding: 5px;
}

#searchform #searchform_submit{
	height: 33px;
	vertical-align: top;
}

.social_media{
	width: 50px;
	position: fixed;
	border: 1px solid #444;
	border-radius: 2px;
	float: left;
	margin-left: -80px;
	margin-top: 30px;
	overflow: hidden;
}

.main_col{
	width: 70%;
	float: left;
	clear: both;
}

.home_top_box{
	height: 250px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	box-shadow: 0 0 0.5px 0 #000;
}

.home_middle_boxes{
	margin-bottom: 20px;
}

.one-half{
	box-sizing: border-box;
	height: 200px;
	width: 32%;
	margin-right: 2%;
	float: left;
	overflow: hidden;
	box-shadow: 0 0 0.5px 0 #000;
	padding: 10px;
}

.one-half:last-of-type{
	margin-right: 0;
}

.home_bottom_box{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 0.5px 0 #000;
}

/* primary sidebar */
.secondary_col{
	width: 27%;
	margin-left: 3%;
	margin-bottom: 80px;
	float: left;
	background-color: #eee;
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 0 1px 0 #333
}

.widget_item{
	border-bottom: 1px solid #bbb;
	margin-bottom: 15px;
}

.widget_item:last-of-type{
	border-bottom: none;
}

.widget_item ul li{
	list-style: none;
}

/* child pages nav menus */

.child_pages_menu{
	margin-top: 10px;
}

.child_pages_menu .parent_link{
	float: left;
	border-right: 1px solid #fff;
	padding-right: 7.5px;
	margin-right: 7.5px;
	font-size: 0.9em;
}

.child_pages_menu .parent_link a:link,
.child_pages_menu .parent_link a:visited{
	color: #555;
	font-weight: bold;
}

.child_pages_menu ul{
	float: left;
	margin: 0;
	padding: 0;
}

.child_pages_menu ul li{
	float: left;
	list-style: none;
	margin-right: 15px;
	color: #888;
	font-size: 0.9em;
}

.child_pages_menu ul li a:link,
.child_pages_menu ul li a:visited{
	color: #ddd;
}

.child_pages_menu .current_page_item a:link,
.child_pages_menu .current_page_item a:visited{
	text-decoration: underline;
	color: #fff;
	cursor: default;
}

.page_content_wrapper{
	margin: 30px 0;
}

.blog_post{
	border-bottom: 1px dashed #aaa;
	padding-bottom: 20px;
}

.blog_post:last-of-type{
	border-bottom: none;
	margin-bottom: 50px;
}

.gallery_post{
	background-color: #111;
	color: #fff;
	padding: 20px;
}

.post_info{
	color: #ddd;
}

img.wp-post-image{
	width: 100%;
	height: auto;
}

/* footer */
.site_footer{
	clear: both;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #ddd;
	box-shadow: 0 0 0.5px 0 #000;
}

.footer_sidebars_container{
	clear: both;
}

.footer_widget{
	float: left;
	margin: 0 30px;
}

.footer_nav_menu{ 
	padding-bottom: 10px;
	clear: both; 
	display: inline-block;
	margin: 0 auto;
}

.footer_nav_menu ul li{
	float: left;
	list-style: none;
	margin-right: 20px;
	font-weight: bold;
}

.copyright{
	text-align: center;
	color: #ddd;
}

.copyright a:link,
.copyright a:visited,
.credits a:link,
.credits a:visited{
	color: #ddd;
}

.credits{
	text-align: center;
	color: #ddd;
	font-size: 0.89em;
}